* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pageContainer {
    display: block;
    justify-content: center;
    margin: 50px auto;
    width: 100%;

}

.tableContainer, .listsContainer {
    margin: 0 100px;
}

.sectionTitle {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
}
 thead,tr:nth-child(10),tr:nth-child(3),tr:nth-child(4),tr:nth-child(5),tr:nth-child(8),tr:nth-child(9),tr:nth-child(11),td:nth-child(7) {
    background-color: #AFEEEE;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.cellCenter {
    text-align: center;
}

td,th {
    border:1px solid black;
    padding: 5px 10px;
    font-size: 17px;
}

.centerAlignment {
    text-align: center;
}

.idColumn {
    width: 20px;
}


.totalValue {
    text-align: right;
}

.subSectionTitle {
    text-align: left;
    font-size: 23px;
    font-weight: bold;
    margin: 10px 20px;
}

ul, ol {
    margin-left: 80px;
}

li {
    font-size: 18px;
}