body {
    background-color: #f4f4f4;
}
.photo-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photo-gallery {
    display: inline-block;
    flex-direction: row;
    position: relative;
}
 .caption {
    position: absolute;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.photo-item {
    width: 600px;
    height: 600px;
    margin: 1px; 
}

@media only screen and (max-width: 1220px) {
    .photo-item {
    width: 500px;
    height: 500px;
    }
}
@media only screen and (max-width: 1020px) {
    .photo-item {
      width: 350px;
      height: 350px;
    }
}
@media only screen and (max-width: 720px) {
    .photo-item {
      width: 200px;
      height: 200px;
    }
}
@media only screen and (max-width: 320px) {
    .photo-item {
      width: 100%;
    }
}
   

